/*-------------->
     main blog
<-------------- */
body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    
    
}

.container{
    background-color: black;
    display: flex;
    text-align: center;
    width: 870px;
    border-radius: 15px;
    
}

.artical{
    margin: 25px;
    align-items: center;
    color: rgb(147, 170, 94);
}

.photo img{
    margin-top:55px;
}

.container .artical button{

    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(247, 136, 10);
    margin-top: 20px;
    padding: 15px;
}
h2{
    color: aquamarine;
    font-size: 45px;
}


.section{
    display: flex;
    justify-content: center;

}

.section-two{
    width: 870px;
    border-radius: 15px;
}
.login-form{

    background-color: black;
    width: 250px;
    height: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;}

.login-form a{
    background-color: antiquewhite;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;}
   

    .section-two .one .aouthor{ background-color: rgb(189, 230, 43);}

    .blogs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

    }
    .one{display: flex;}

    .icon{
        display: flex;
        justify-content:space-around;
    }

    .blog .thumbnail a{
        text-decoration: none;
        border-radius: 5px;
        color: azure;
        background-color: black;
    }

    .top-blogs{ padding-left: 15px;}

    .blog .thumbnail img{
        width: 177px;
        height: 117px;
    }


    footer{
        height: 200px;
        text-align: center;
        background-color: black;
    }

    footer h3{
        color: aliceblue;
        padding-top: 20px;
        font-size: 30px;
    }
    hr{
        width: 900px;
    }

    .buttoms{
        padding-top: 25px;
    }

    .buttoms a{
        text-decoration: none;
        padding: 25px;
        color: aliceblue;
    }

